

<div class="center hero-unit">
<h1>Welcome to One Month Rails</h1>
<p>
You've found the home page for the
<%= link_to "One Month Rails", "http://www.onemonthrail.com" %>

</p>
<p>
	<%= link_to "Sign up Now!" , "#" , class: "btn btn-primary btn-large" %>
</p>

</div>
</div>
</div>

